<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
	<head>
    	<title>Login</title>
		
			<meta charset="utf-8">
    		<meta http-equiv="x-ua-compatible" content="ie=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    	
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  			<script type="text/javascript" th:src="@{/js/citiesDropDown.js}" src="../static/js/citiesDropDown.js"></script>
					
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  			<link th:href="@{/css/style.css}" rel="stylesheet">
  			  		
    	
	</head>
 
	<body>
    	<div class="container my-5">
        	
        	<div class="card">
				<div class="card-body">
					<span th:text="${message}" style="color:#880000;"></span>
					<form action="/pbb/cmsLogin" method="post" class="form-signin">
  						
  						<div class="container">
    						<label for="uname"><b>Username</b></label>
    						<input type="text" placeholder="Enter Username" name="username" required>

    						<label for="psw"><b>Password</b></label>
    						<input type="password" placeholder="Enter Password" name="pass" required>

    						<input type="image" class="avatar" th:src="@{/images/icons/loginIcon.jpg}"/>
    					</div>
			
					</form>
  					                	                    
                </div>
            </div>
           	<div style="color:#000088; font-size:10px;font-weight: bold;" class="card-footer text-muted">TRC Corp</div>
         </div>   
	</body>
 
</html>