<!DOCTYPE html>
<html>
	
	<div style="background-color:#fff">
                  
    	<div class="row w-100">
         
    		<div class="col-4">
         		<figure><img alt="" src="/images/coupons/buy1Get1Free.png" class="img-coupon"></figure>
    			<figure><img alt="" src="/images/coupons/ticketPic.png" class="img-coupon"></figure>
         	</div> 
		     		
	   		<div class="col-4">
         		<figure><img alt="" src="/images/coupons/mosaicSales.png" class="img-coupon"></figure>
    			<figure><img alt="" src="/images/coupons/saleStar.png" class="img-coupon"></figure>
         	</div>          
		      
		    <div class="col-4">
         		<figure><img alt="" src="/images/coupons/bestPriceSign.png" class="img-coupon"></figure>
    			<figure><img alt="" src="/images/coupons/specialOfferStar.png" class="img-coupon"></figure>
	     	</div>     
		      
		</div>
	</div> 
      
</html>      