<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<footer class="mainFooter">
		<div class="container">
    		<p class="mt-0 mb-0">© Copyright <label  th:text="${footerParams.param4}"></label></p>
        
     	</div>
     	<div class="row">  
        	<div class="col-md-12 text-center">
        		<ul class="list-inline quicklinks">
        			<li class="list-inline-item">
        				<a href="/pbb/Privacy" style="color:teal;">Privacy Policy</a>
        			</li>
	        		<li class="list-inline-item">
	        			<a href="/pbb/Terms" style="color:teal;">Terms of Use</a>
	        		</li>
	        		<li class="list-inline-item">
	        			<a href="/pbb/cms" style="color:darkgrey;">cms</a>
	        		</li>
	        			
        		</ul>
        	</div>
    	</div>
	</footer>
</html>	