<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>All Messages</title>
		
    	<meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  		<script type="text/javascript" th:src="@{/js/modal.js}" src="../static/js/modal.js"></script>
		
		<script th:src="@{/js/modalDelete.js}"></script>
				
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<link rel="stylesheet" th:href="@{/css/modalDelete.css}" href="../static/css/modalDelete.css"/>	
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
  		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    	<link th:href="@{/css/style.css}" rel="stylesheet">
    	
	</head>
	
	
	<body>
    	<div class="container">
    		<div class="row">
    			
        		<div>
            		<p class="my-5">
                		<a href="/pbb/MainMenu" class="btn btn-secondary btn-sm">
                		<i class="fas fa-back ml-2"> Back to Main Menu </i></a>
            		</p>
            			
            </div>	
            <div class="row" th:switch="${messages}">		
            	<div class="col">
                	<label style="color:#808000; background-color:#FFFFCC;" th:case="null">No records found !!</label>
                	<div th:case="*">
                		<table class="table table-striped table-responsive-md">
                   			<thead>
                   				<tr><th style="color: #880000" colspan="5"><b>Received Messages</b></th></tr>
                       			<tr>
                       				<th style="color: #006400">Date</th>
		                           	<th style="color: #006400">From</th>
		                           	<th style="color: #006400">Email</th>
		                           	<th style="color: #006400">Message</th>
		                           	<th style="color: #006400;background-color:#ffffcc;">Outcome</th>
		                           	<th style="color: #006400">Edit</th>
		                           	<th style="color: #006400">Delete</th>
		                                	
                       			</tr>
                   			</thead>
                   			<tbody>
                       			<tr th:each="message : ${messages}">
                            			
                       				<td th:text="${message.dateCreation}" nowrap></td>
		                           	<td th:text="${message.cname}" nowrap></td>
		                           	<td th:text="${message.email}" nowrap></td>
		                           	<td th:text="${message.message}"></td>
		                           	<td style="background-color:#ffffcc;" th:text="${message.outcome}"></td>
		                                			                                	
		                           	<td>
                               			<a th:href="@{/pbb/messages/edit/{id}(id=${message.id})}" class="btn btn-primary btn-sm">
                                   			<i class="fas fa-edit"></i>
                               			</a>
                           			</td>
                           			<td>
                                				                                    			
                               			<a th:href="@{/pbb/messages/delete/{id}(id=${message.id})}" class="btn btn-danger btn-sm deleteBtn"  onClick="return confirmDelete();">
                               				<i class="fas fa-trash" style="font-size:12px"></i>
                               			</a>
                                    			
                           			</td>
                                			
                       			</tr>
                       			<tr><td colspan="6" style="font-color:teal;font-weight:bold;" th:text="'Total Messages: '+ ${total}"></td></tr>
                   			</tbody>
                		</table>
                			
            		</div>
        		</div>
        	</div>	
    				
    	</div>
    		
    	<div class="row">
    		<div class="col">
    			<div style="color:#000088; font-size:10px;font-weight: bold;" class="card-footer text-muted">TRC Corp</div>
    		</div>	
    	</div>
    	
	  </div>
		
		  		
	</body>
 
</html>