<!DOCTYPE html>
<html>
	<body>
		<head>
			
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<hr>	
		<div class="row">
      
      		<div class="col fam">
      	      		      		
	      		<button type="button" class="btn btn-social-icon btn-outline-facebook"><i class="fa fa-facebook"></i></button>
	      		<button type="button" class="btn btn-social-icon btn-outline-youtube"><i class="fa fa-youtube"></i></button>
	      		<button type="button" class="btn btn-social-icon btn-outline-twitter"><i class="fa fa-twitter"></i></button> 
	      		<button type="button" class="btn btn-social-icon btn-outline-instagram"><i class="fa fa-instagram"></i></button>
	           		
      		</div>
      
      		<div class="col fam">
      			<a href="/pbb/EmailFriend">
      				<button class="titleWarning">Email to a Friend <i class="fa fa-envelope"></i></button>
      			</a>	
      		</div>
      	
      		<div class="col fam">
      			<a href="/pbb/Register">
      				<button  class="titleWarning">Sign Up Now!  <i class="fa fa-sign-in"></i></button>
      			</a>
      		</div>
      	 	
      	
    	</div>	
    </body>
</html>      