<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>List of Subscriptions</title>
		
    	<meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  		<script type="text/javascript" th:src="@{/js/modal.js}" src="../static/js/modal.js"></script>
		
		<script th:src="@{/js/modalDelete.js}"></script>
				
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<link rel="stylesheet" th:href="@{/css/modalDelete.css}" href="../static/css/modalDelete.css"/>	
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
  		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    	<link th:href="@{/css/style.css}" rel="stylesheet">
    	
	</head>
	
	
	<body>
    	<div class="container my-2">
    		<div class="card">
    			<div class="card-body">
        			<div th:switch="${subscriptions}" class="container my-5">
            			<p class="my-5">
                			<a href="/pbb/subscriptions/edit" class="btn btn-primary btn-sm">
                			<i class="fas fa-user-plus ml-2"> Add Subscription </i></a>
                			<a href="/pbb/MainMenu" class="btn btn-secondary btn-sm">
                			<i class="fas fa-back ml-2"> Back to Main Menu </i></a>
            			</p>
            			<div class="col-md-10">
                			<label style="color:#808000; background-color:#FFFFCC;" th:case="null">No records found !!</label>
                			<div th:case="*">
                    			<table class="table table-striped table-responsive-md">
                        			<thead>
                        				<tr><th style="color: #880000" colspan="5"><b>List of Subscriptions</b></th></tr>
                            			<tr>
                            				<th style="color: #006400; font-size: smaller">ID</th>
		                                	<th style="color: #006400; font-size: smaller">Num</th>
		                                	<th style="color: #006400; font-size: smaller">Label</th>
		                                	<th style="color: #006400; font-size: smaller">Price</th>
		                                	<th style="color: #006400; font-size: smaller">Order</th>
		                                	<th style="color: #006400; font-size: smaller">Active</th>
		                                	<th style="color: #006400; font-size: smaller">Edit</th>
		                                	<th style="color: #006400; font-size: smaller">Delete</th>
		                                	
                            			</tr>
                        			</thead>
                        			<tbody>
                            			<tr th:each="subscription : ${subscriptions}">
                            			
                            				<td th:text="${subscription.subscriptionid}" style="font-size: smaller"></td>
		                                	<td th:text="${subscription.subscriptionNum}" style="font-size: smaller"></td>
		                                	<td th:text="${subscription.subscription}" nowrap style="font-size: smaller"></td>
		                                	<td th:text="${subscription.amount}" style="font-size: smaller"></td>
		                                	<td th:text="${subscription.udelnyBes}" style="font-size: smaller"></td>
		                                	<td th:text="${subscription.active}" style="font-size: smaller"></td>
		                                	
		                                	<td>
                                    			<a th:href="@{/pbb/subscriptions/edit/{id}(id=${subscription.subscriptionid})}" class="btn btn-primary btn-sm">
                                        			<i class="fas fa-edit"></i>
                                    			</a>
                                			</td>
                                			<td>
                                				                                    			
                                    			<a th:href="@{/pbb/subscriptions/delete/{id}(id=${subscription.subscriptionid})}" class="btn btn-danger btn-sm deleteBtn" onClick="return confirmDelete();">
                                    				<i class="fas fa-trash" style="font-size:12px"></i>
                                    			</a>
                                    			
                                			</td>
                                			
                            			</tr>
                        			</tbody>
                    			</table>
                			</div>
 
            			</div>
        			</div>
    			</div>
    			
				
				
    			<div style="color:#000088; font-size:10px;font-weight: bold;" class="card-footer text-muted">TRC Corp</div>
    		</div>
		</div>
		
	</body>
 
</html>