<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
	<head>
    	<title>Add/Modify Users</title>
		
			<meta charset="utf-8">
    		<meta http-equiv="x-ua-compatible" content="ie=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    	
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
					
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  			<link th:href="@{/css/style.css}" rel="stylesheet">
    	
	</head>
	
	 
	<body>
    	<div class="container my-5">
        	<font style="color: #006400; font-size=12px; font-weight:bold;"> Add/Modify Users</font>
        	<div class="card">
        	   	<div class="card-body  bg-form">
                	<form  action="#" th:action="@{/pbb/users/createUser}" th:object="${user}" method="post" data-toggle="validator" role="form">
                		
                       		<div class="form-group col-sm-4">
                          		<label for="username">Username<sup>*</sup></label> 
                          		
                               		<input type="text" th:field="*{username}"
                                            id="inputName" placeholder="username" required maxlength="25"/>
                                    <div class="help-block with-errors" style="color:#800000;background-color:#FFFFCC;"></div>        
                                            
                        	</div>
                        	                        	
                        	<div class="form-group col-md-8">
      							<label for="active">Domain</label>
      							<select th:field="*{dom}">
      								<option th:value="*{dom}" th:text="*{dom}"></option>
    								<option th:value="'User'" th:text="User"></option>
    								<option th:value="'StoreManager'" th:text="StoreManager"></option>
    								<option th:value="'StoreAdministrator'" th:text="StoreAdministrator"></option>
								</select>
    						</div>
                            <div class="form-group col-md-8">
      							<label for="type">Type</label>
      							<select th:field="*{type}">
      								<option th:value="*{type}" th:text="*{type}"></option>
    								<option th:value="'admin'" th:text="admin"></option>
    								<option th:value="'dba'" th:text="dba"></option>
								</select>
    						</div>
                            	
                            <div class="form-group col-md-8">
                                <label for="priznak">Priznak</label> 
                                <select th:field="*{priznak}">
    								<option th:each="i : ${#numbers.sequence(0,1)}" th:value="${i}" th:text="${i}"></option>
								</select>
                            </div>
                            	
    						<div class="form-group col-md-8">
      							<label for="active">Active</label>
      							<select th:field="*{active}">
      								<option th:value="*{active}" th:text="*{active}"></option>
    								<option th:value="'Yes'" th:text="Yes"></option>
    								<option th:value="'No'" th:text="No"></option>
								</select>
    						</div>
    							
    						<div class="form-group  col-md-8">
                               	<label for="email">Email<sup style="color:#800000;font-size:14px;">*</sup></label> 
                               	<input type="text" th:field="*{email}" class="col-sm-8 control-label"
                                      id="inputEmail" placeholder="email" required maxlength="100"/>
                                <div class="help-block with-errors" style="color:#800000;background-color:#FFFFCC;"></div>      
                            </div>
 
                            <div class="form-group col-md-8">
                               	<input id="submitButton" type="submit" class="btn btn-primary btn-sm" value=" Submit ">
                               	<a href="/pbb/users/list" class="btn btn-secondary btn-sm">
                					<i class="fas fa-back ml-2"> Cancel </i></a>
                            </div>
 
                            <input type="hidden" id="id" th:field="*{userid}">
     						                        
                    </form>
                    
                </div>
            </div>
           <div style="color:#000088; font-size:10px;font-weight: bold;" class="card-footer text-muted">TRC Corp</div>
        </div>
    
	</body>
 
</html>